#prx-region-about-company {
  font-family: 'Montserrat', sans-serif;

  .prx-about-company-main {
    max-width: 1105px;
    margin: 0 auto;
    padding: 2em 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .prx-about-company-nav {
    flex: 0 1 30%;
    min-width: 200px;

    .fixed-nav-container {
      width: 160px;
      margin: 25px 20px;
      padding: 40px 0 0 0;
      border-top: 6px solid @prxOrange;
      display: flex;
      flex-direction: column;
    }
    .no-scroll {
      position: fixed;
      top: 0;
    }
    a.active {
      font-weight: bold;
    }
    a:last-child {
      padding-bottom: 40px;
      border-bottom: 1px solid @prxGrey;
    }
  }

  .prx-about-company-content {
    flex: 0 1 70%;
    display: flex;
    flex-direction: column;
  }

  .prx-about-company-content-subpage {
    border-bottom: 1px solid @prxGrey;
    padding: 30px 0 80px 0;
    margin: 0 30px;
  }
  .prx-about-company-content-subpage:first-child {
    padding-top: 15px;
  }

  #prx-show-all-staff-button {
    border: 2px solid transparent;
    margin: auto;
    width: 180px;
    display: block;
    background: @prxBlack;
    color: @prxInverseTextColor;
    border-radius: 999px;
    padding: 15px 35px;
    font: inherit;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .8px;
    cursor: pointer;

    &:hover {
      background: white;
      border: 2px solid @prxBlack;
      color: @prxBlack;
    }
  }
  ul.expanded {
    display: none;
  }
  #prx-show-all-staff {
    display: none;
  }
  #prx-show-all-staff:checked {
    ~ ul.expanded{
      display: flex;
    }

    ~ #prx-show-all-staff-button {
      display: none;
    }
  }

  @media (max-width: @smallScreenWidth) {
    .prx-about-company-nav  {
      display: none;
    }
    .prx-about-company-content {
      flex: 0 1 100%;
    }
    .prx-about-company-main  {
      padding: 0;
    }
    .sqs-block-button, .sqs-block-button-container--center {
      text-align: left;
      margin-left: 0;
    }
  }

  @media (max-width: @peopleCollectionsVerticalWidth) {
    .prx-people-tiles li {
      flex-direction: row;
      width: 100%;

      img {
        margin: 0;
      }
      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}
