#prx-company-nav {
  background-color: @companyNavBackgroundColor;
  color: @companyNavTextColor;

  li.active-link {
    color: @companyNavActiveLinkColor;
  }

  @media (max-width: @smallScreenWidth) {
    display: none;
  }
}
