#prx-region-exchange {
  .prx-index-list-section {
    position: relative;
    overflow: hidden;
  }

  img.prx-splash {
    position: absolute;
    width: 100vw;
  }

  section {
    color: white;
    margin: 0 auto;
    max-width: 1025px;
    padding: 80px 50px;

    h1 {
      font-size: 4em;
      line-height: 1.1;
    }

    a {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
    }

    p {
      font-size: 1.2em;
      line-height: 1.9;
    }
  }
}
