// tweak: { "type": "color", "title": "Footer Background Color" }
@prxFooterBackgroundColor: #1C1C1C;
@prxFooterTextColor: #D8D8D8;

#prx-footer {
  background-color: @prxFooterBackgroundColor;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prx-footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.prx-footer-nav-subnav {
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: @prxFooterTextColor;
}

.prx-footer-nav-subnav h4 {
  text-transform: uppercase;
}
.prx-footer-nav-subnav a {
  text-decoration: none; // move this to reset
  color: @prxFooterTextColor; // nix this once reset exists, since it can inherit
  margin: 10px 0;
}
