// TODO
#carwrap {
  max-width: 100vw;
  overflow: scroll;
}

#prx-region-homepage {
  // DRY
  .prx-show-tiles {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      margin: 10px 4px;
      padding: 0;

      a {
        display: block;
        cursor: default;
        position: relative;

        img.show-artwork {
          height: 231px;
          width: 231px;
        }

        &:hover {
          .show-morsel {
            display: flex;
          }
        }

        .show-morsel {
          background: rgba(28, 28, 28, 0.9);
          bottom: 0;
          color: white;
          display: none;
          flex-direction: column;
          justify-content: center;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;

          h1 {
            font-size: 1.2em;
            line-height: 1.1;
            text-align: center;
          }

          p {
            text-align: center;
          }

          button {
            background: white;
            border: none;
            border-radius: 21px;
            color: @prxBlack;
            cursor: pointer;
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.85em;
            height: 42px;
            line-height: 1;
            margin: 0 auto;
            padding: 0px 20px;
            text-transform: uppercase;

            &:hover {
              background: @prxBlack;
              color: white;
            }
          }
        }
      }
    }

    .artwork-border {
      border: 1px solid rgba(151, 151, 151, 0.3);
    }
  }

}


#prx-homepage-index-list {
  section {
    position: relative;
    overflow: hidden;
  }

  .watermarked {
     color: white;
  }

  .section-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .main-content {
    position: relative;
    z-index: 10;
  }
}


