#prx-index-list-homepage {

  hr {
    background-color: @prxOrange;
    height: 6px;
    width: 100px;
  }

  .span-4,
  .span-5,
  .span-6,
  .span-7 {
    hr {
      margin: 0;
    }
  }

//   @media (max-width: @smallScreenWidth) {
//     .section-bg-image, .image-block-wrapper {
//       display: none;
//     }
//     section {
//       // we've added a background-image in main.js
//       background-size: auto 100%;
//       background-position: top center;
//     }
//     .main-content {
//       text-align: center;
//       color: @prxInverseTextColor;
//       padding: 8em 2em;

//       a.sqs-block-button-element {
//         margin: 0 auto;
//         text-align: center;
//         display: block;
//         max-width: 50%;
//         min-width: 100px;
//       }
//       hr {
//         margin: auto;
//       }
//     }
//   }

}
