.prx-region-homepage {
  hr {
    background-color: @prxOrange;
    height: 6px;
    width: 100px;
  }

  .span-4,
  .span-5,
  .span-6,
  .span-7 {
    hr {
      margin: 0;
    }
  }
}

#prx-homepage-content-header {
  margin: 0 auto;
  max-width: 1120px;
}

#prx-homepage-content-shows {
  max-width: 100vw;
  overflow: hidden;

  .prx-show-tiles {
    width: 5000px;

    img.show-artwork {
      height: 231px;
      width: 231px;
    }
  }
}

#prx-homepage-content-shows-scroll-control {
  margin: 1.25em auto 0;
  width: 200px;

  input[type='range'] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: @prxOrange;
    border-radius: 999px;
    height: 10px;
    outline: none;
    width: 100%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 999px;
      width: 25px;
      height: 25px;
      background: #2e2e2e;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      appearance: none;
      border-radius: 999px;
      width: 25px;
      height: 25px;
      background: #2e2e2e;
      cursor: pointer;
    }
  }
}

#prx-homepage-features-wrapper {
  position: relative;

  #prx-homepage-features-dots {
    bottom: 2em;
    display: flex;
    justify-content: center;
    list-style: none;
    left: 0;
    margin: 0 auto 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100vw;
    z-index: 10;

    li {
      background: white;
      border: 2px solid transparent;
      border-radius: 999px;
      display: inline-block;
      height: 15px;
      margin: 0 8px;
      transition-property: all;
      transition-duration: 0.3s;
      width: 15px;
    }
  }

  // Styling the active dot based on which slide is visible
  &[data-slide='1'] #prx-homepage-features-dots li:nth-child(1) { background: transparent; border: 2px solid white; }
  &[data-slide='2'] #prx-homepage-features-dots li:nth-child(2) { background: transparent; border: 2px solid white; }
  &[data-slide='3'] #prx-homepage-features-dots li:nth-child(3) { background: transparent; border: 2px solid white; }
  &[data-slide='4'] #prx-homepage-features-dots li:nth-child(4) { background: transparent; border: 2px solid white; }
  &[data-slide='5'] #prx-homepage-features-dots li:nth-child(5) { background: transparent; border: 2px solid white; }
  &[data-slide='6'] #prx-homepage-features-dots li:nth-child(6) { background: transparent; border: 2px solid white; }

  .rotate {
    background: white;
    border-radius: 999px;
    color: @prxBlack;
    cursor: w-resize;
    font-weight: bold;
    height: 50px;
    line-height: 48px;
    margin: -25px 30px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    user-select: none;
    width: 50px;
    z-index: 15;

    @media (max-width: @smallScreenWidth) {
      bottom: 1em;
      top: auto;
    }

    &.right { right: 0px; cursor: e-resize; }

    &:hover {
      background: @prxBlack;
      color: @prxInverseTextColor;
    }
  }

  #prx-homepage-features {
    position: relative;
    transition-property: transform;
    transition-duration: 0.3s;

    .prx-homepage-feature {
      color: white;
      display: flex;
      flex-direction: column;
      height: 700px;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 100vw;

      &:nth-child(1) { position: relative; }
      &:nth-child(2) { position: absolute; left: 100vw; }
      &:nth-child(3) { position: absolute; left: 200vw; }
      &:nth-child(4) { position: absolute; left: 300vw; }
      &:nth-child(5) { position: absolute; left: 400vw; }
      &:nth-child(6) { position: absolute; left: 500vw; }

      .prx-homepage-feature-content {
        position: relative;
        z-index: 7;

        @media (max-width: @smallScreenWidth) { padding: 0 3em; }
      }

      img.prx-backdrop {
        user-select: none;
        z-index: 3;
      }
    }

  }

  &[data-slide='1'] #prx-homepage-features { transform: translateX(0vw); }
  &[data-slide='2'] #prx-homepage-features { transform: translateX(-100vw); }
  &[data-slide='3'] #prx-homepage-features { transform: translateX(-200vw); }
  &[data-slide='4'] #prx-homepage-features { transform: translateX(-300vw); }
  &[data-slide='5'] #prx-homepage-features { transform: translateX(-400vw); }
  &[data-slide='6'] #prx-homepage-features { transform: translateX(-500vw); }
}
