// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Alegreya', serif;

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  color: @prxTextColor;
}
@media (max-width: 684px) { body { font-size: 1.325rem; } }
@media (max-width: 382px) { body { font-size: 1.2rem; } }

::selection {
  background-color: @prxOrange;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.prx-toggle { display: none; }
.prx-toggle-target { display: none; }
.prx-toggle:checked ~ .prx-toggle-target { display: block; }

.prx-region-root {
  h1 {
    font-size: 2.35em;
    font-weight: bold;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75em;
    font-weight: normal;
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .sqs-block-button {
    a.sqs-block-button-element--medium, a.sqs-block-button-element--small  {
      background: @prxBlack;
      border: 2px solid transparent;
      border-radius: 999px;
      color: @prxInverseTextColor;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      padding: 15px 35px;

      &:hover {
        background: white;
        border: 2px solid @prxBlack;
        color: @prxBlack;
      }
    }
  }

  .watermarked {
    .sqs-block-button {
      a.sqs-block-button-element--medium {
        background: white;
        color: @prxBlack;

        &:hover {
          background: @prxBlack;
          border: 2px solid transparent;
          color: @prxInverseTextColor;
        }
      }
    }
  }
}

// @media (max-width: 1000px) {
//   nav > ul {
//     font-size: 0.65em;

//     li {
//       a {
//         margin: 5px 5px;
//         padding: 20px 10px;
//       }
//     }
//   }
// }
