// Squarespace includes a lot of CSS, including a reset, that can't really be
// removed

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}


#prx-services {
  margin: 0 auto;
  max-width: 1105px;
}
