#prx-main-footer {
  background-color: @prxInverseFill;
  color: @prxInverseTextColor;
  padding: 50px 0;

  & > div {
    display: grid;
    grid-template-columns: 35% 5% 60%;
    grid-template-rows: auto;
    grid-template-areas:
      "logo . nav"
      "social . nav"
      "info . nav";
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 50px;
  }
}

@media (max-width: @smallScreenWidth) {
  #prx-main-footer > div {
    grid-template-columns: auto;
    grid-template-areas:
      "logo"
      "social"
      "nav"
      "info";
    margin: 0;
  }
}

#prx-main-footer-social {
  grid-area: social;

  a {
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.6;
    width: 25px;
    height: 25px;
  }

  a[href='https://twitter.com/prx'] {
    background-image: url('/assets/twitter-white.svg');
  }

  a[href='https://www.facebook.com/PRXOfficial/'] {
    background-image: url('/assets/facebook-white.svg');
  }

  a[href='https://medium.com/prxofficial'] {
    background-image: url('/assets/medium-white.svg');
  }
}

#prx-main-footer-logo {
  display: block;
  grid-area: logo;
  margin: 0 0 25px 0;
  width: 135px;
}

#prx-main-footer-legal {
  grid-area: info;
  font-size: 0.675em;
  max-width: 250px;
  opacity: 0.7;

  a {
    text-decoration: underline;
  }
}

@media (max-width: @smallScreenWidth) {
  #prx-main-footer-legal {
    font-size: 0.9em;
  }
}

#prx-main-footer-nav {
  grid-area: nav;
}
