#prx-main-nav {
  background-color: @prxInverseFill;
  color: @prxInverseTextColor;
  position: relative;

  #prx-show-menu {
    display: none;
  }

  ul {

  }
}

#prx-main-nav-menu-button {
  display: none;
}

@media (max-width: 1000px) {
  #prx-main-nav {
    ul {
      font-size: 0.65em;

      li {
        a {
          margin: 5px 5px;
          padding: 20px 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #prx-main-nav {
    ul {
      // position: absolute;
      display: none;
      flex-direction: column;
      padding-bottom: 30px;

      li {
        a {
          font-size: 1.8em;
          padding-bottom: 10px;
          padding-left: 20px;
          padding-top: 10px;
        }
      }
    }

    #prx-show-menu:checked ~ ul{
      display: flex;
    }
  }

  #prx-main-nav-menu-button {
    border: 0;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 10px;
  }
}

.prx-home #prx-main-nav {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100vw;
}
