// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Alegreya', serif;

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif !important;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  color: @prxTextColor;
}
@media (max-width: 684px) { body { font-size: 1.325rem; } }
@media (max-width: 382px) { body { font-size: 1.2rem; } }

::selection {
  background-color: @prxOrange;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.prx-toggle { display: none; }
.prx-toggle-target { display: none; }
.prx-toggle:checked ~ .prx-toggle-target { display: block; }

// Some divs, like the region root and index sections, can have a backdrop
// image; images should always be fairly dark, so the text is changed to white
div.prx-backdrop {
  color: @prxInverseTextColor;

  .sqs-block-button {
    a.sqs-block-button-element--medium {
      background: @prxInverseTextColor;
      color: @prxBlack;

      &:hover {
        background: @prxBlack;
        border: 2px solid transparent;
        color: @prxInverseTextColor;
      }
    }
  }
}

// This applies to the main content area of all standard layouts
.prx-region-root {
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 2.35em;
    font-weight: bold;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75em;
    font-weight: normal;
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  // The mainContent for Page content will be wrapped in a
  // div[data-type='page']. This is true for top-level Page content, and Pages
  // that are part of an index page
  div[data-type='page'] {
    margin: 0 auto;
    max-width: 1105px;
    padding: 0 3em;
  }


  // Banner/thumbnail images rendered as backgrounds of content areas
  img.prx-backdrop {
    position: absolute;
    width: 100vw;

    @media (max-width: @smallScreenWidth) {
      height: 100%;
      width: auto;
      min-width: @smallScreenWidth;
    }
  }

  // Standard stacked index page layout
  // .prx-index-list wraps all sub-pages, and .prx-index-list-section wraps
  // each individual sub-page
  .prx-index-list {
    overflow: hidden;
    position: relative;

    .prx-index-list-section {
      overflow: hidden;
      position: relative;
    }
  }

  .sqs-block-button {
    a.sqs-block-button-element--medium,
    a.sqs-block-button-element--small  {
      background: @prxBlack;
      border: 2px solid transparent;
      border-radius: 999px;
      color: @prxInverseTextColor;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      padding: 15px 35px;

      &:hover {
        background: white;
        border: 2px solid @prxBlack;
        color: @prxBlack;
      }
    }
  }
}
