#prx-region-services {
  margin: 0 auto;
  max-width: 1105px;
  padding: 50px 3em 0;

  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 725px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4em 0 0;

    a {
      border-bottom: 3px solid @prxOrange;
      color: black;
      display: block;
      margin: 0 3.5em 20px;
      padding: 0 7px 5px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  @media (max-width: 500px) {
    nav {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;

      a {
        font-weight: bold;
        margin-left: 0;
      }
    }
  }


  section {
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    padding: 5em 0 4em;

    &:last-child {
      border: none;
      padding-bottom: 50px;
    }

    h3 {
      margin: 0;
    }

    p {
      font-size: 1.125em;

      a {
        color: #3295AA;
        font-weight: bold;
      }
    }

    hr {
      height: 6px;
      background: #FFB217;
    }
  }
}
