#prx-services {
  margin: 0 auto;
  max-width: 1105px;

  nav {
    display: flex;
    justify-content: center;

    a {
      display: block;
      margin: 0 60px;
      padding: 0 7px 5px;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      border-bottom: 3px solid #FFB217;
    }
  }

  section {
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    padding: 100px 0;

    &:last-child {
      border: none;
      padding-bottom: 50px;
    }

    hr {
      height: 6px;
      background: #FFB217;
    }
  }
}
