#prx-region-technology {

}

#prx-technology-content-header {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 725px;
  padding: 0 2em;

  p {
    font-size: 1.2em;
    opacity: 0.7;
  }
}

#prx-technology-history {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 725px;
  padding: 0 2em;

}
