// Colors
@prxBlack: #1C1C1C;
@prxOrange: #FFB217;
@prxGrey: #E2E2E2;
@prxLightGrey: rgba(151, 151, 151, 0.3);
@prxTeal: #3295AA;

@prxTextColor: @prxBlack;
@prxInverseTextColor: white;

@prxInverseFill: @prxBlack;

@prxFooterHeaderBackgroundColor: #1C1C1C;
@prxFooterHeaderTextColor: rgba(255, 255, 255, 0.7);
@smallScreenWidth: 640px;

// Company page
@companyNavBackgroundColor: #E8E8E8;
@companyNavTextColor: #B2B2B2;
@smallScreenWidth: 620px;
@peopleCollectionsVerticalWidth: 439px;
